
// Overwrite variables from ../node_modules/bootstrap/scss/_variables.scss

// Colors
$brand-primary:              #00a0be;

// Options
$enable-flex:                true; // false is default
$enable-rounded:             true; // true is default
$enable-transitions:         true; // false is default

// Typography
$webfont-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif;
$font-family-sans-serif:     sans-serif;

// Jumbotron Component
$jumbotron-bg:               #ffffff;

// Own variables
