/**
 * This project's description goes here
 *
 * @author  Benjamin Albrecht
 */

// Load custom variables (overwrite of bootstrap and material-design-lite default values)
@import 'custom';

// Load bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import '../node_modules/material-design-lite/src/variables';
@import '../node_modules/material-design-lite/src/mixins';
@import '../node_modules/material-design-lite/src/shadow/shadow';


#header {
	min-height: 100vh;
	padding-top: 6rem;
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: 55% 50%;
	background-repeat: no-repeat;
}

header h3 span {
	margin-bottom: calc(100vh / 20);
	display: inline-block;
	padding: 0.7rem;
	z-index: 1;
	position: relative;
}

header h3 span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(255,255,255,0.7);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}

.fb-page, .fb-page iframe[style], .fb-page span {
	width: 100% !important;
}

.btn {
	@include shadow-2dp();
}

.btn:hover {
	@include shadow-4dp();
}

button:focus {
	outline: none;
}

.navbar-toggler .foo {
	transition: display 1s;
	display: none;
}
.navbar-toggler .bar {
	transition: display 1s;
	display: inherit;
}
.navbar-toggler.collapsed .foo {
	transition: display 1s;
	display: inherit;
}
.navbar-toggler.collapsed .bar {
	transition: display 1s;
	display: none;
}
