
		<!-- Piwik -->
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push(['setDomains', ['*.drabomaniacs.de']]);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u='//statistik.beelbrecht.de/';
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', 3]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<!-- End Piwik Code -->

		<script async defer src="https://platform.twitter.com/widgets.js"></script>
		<script async defer src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.5"></script>

	</body>
</html>
