<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="dns-prefetch" href="//fonts.googleapis.com">
		<link rel="dns-prefetch" href="//fonts.gstatic.com">
		<link rel="dns-prefetch" href="//platform.twitter.com">
		<link rel="dns-prefetch" href="//connect.facebook.net">
		<link rel="dns-prefetch" href="//maps.googleapis.com">
		<link rel="dns-prefetch" href="//statistik.beelbrecht.de">

		<title>DraBoManiacs</title>
		<meta name="description" content="Die DraBoManiacs - ein Drachenboot Fun-Sport Team aus dem schönen Essen.">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="DraBoManiacs">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- For old IEs -->
		<link rel="shortcut icon" href="favicon.ico" />
		<!-- For new browsers - multisize ico  -->
		<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="favicon.ico">
		<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
		<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
		<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
		<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
		<!-- For iPhone 6+ -->
		<link rel="apple-touch-icon-precomposed" sizes="180x180" href="favicon-180.png">
		<!-- For first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="favicon-57.png">
		<!-- For Old Chrome -->
		<link rel="icon" href="favicon-32.png" sizes="32x32">
		<!-- For IE10 Metro -->
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="favicon-144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- Chrome for Android -->
		<link rel="manifest" href="manifest.json">
		<link rel="icon" sizes="192x192" href="favicon-192.png">

		<link rel="stylesheet" href="@@maincss">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin" rel="stylesheet" type="text/css">
		<script src="init.js"></script>
		@@mainjs

		<meta name="google-site-verification" content="Qqx21HJgSTRFied5WIn0hVvM-1dKV-WyZoO5pckSAVk" />
		<meta property="fb:admins" content="100000188583995" />

		<!-- Open Graph Angaben -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@drabomaniacs" />
		<meta property="og:title" content="DraBoManiacs" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="de_DE" />
		<meta property="og:url" content="https://drabomaniacs.de" />
		<meta property="og:image" content="https://drabomaniacs.de/img/DraBoManiacsOpenGraph.4.jpg" />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

	</head>
	<body>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="display:none;">
			<symbol id="FacebookLogo" viewBox="0 0 266.895 266.895">
				<path id="FacebookLogo_Blue" fill="#3C5A99" d="M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225H248.082z"/>
				<path id="FacebookLogo_f" fill="#FFFFFF" d="M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585v99.803H182.409z"/>
			</symbol>
			<symbol id="TwitterLogo" viewBox="0 0 400 400">
				<rect fill="#55acee" width="400" height="400" rx="24" ry="24" />
				<path fill="#ffffff" d="M336.69,115.21A112.12,112.12,0,0,1,304.48,124a56.25,56.25,0,0,0,24.66-31,112.3,112.3,0,0,1-35.62,13.61,56.14,56.14,0,0,0-95.58,51.16A159.24,159.24,0,0,1,82.34,99.18,56.15,56.15,0,0,0,99.7,174.06a55.86,55.86,0,0,1-25.41-7c0,0.23,0,.47,0,0.71a56.12,56.12,0,0,0,45,55,56.23,56.23,0,0,1-25.33,1,56.15,56.15,0,0,0,52.4,39,112.54,112.54,0,0,1-69.66,24,114.17,114.17,0,0,1-13.38-.78,158.76,158.76,0,0,0,86,25.2c103.17,0,159.58-85.47,159.58-159.59q0-3.65-.16-7.26A114,114,0,0,0,336.69,115.21Z"/>
			</symbol>
		</svg>
