<nav class="navbar navbar-fixed-top navbar-dark bg-inverse p-x-0">
	<div class="container">

		<div class="clearfix hidden-sm-up">
			<a class="navbar-brand" href="/">DraBoManiacs</a>
			<button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#mainNavbar">
				&#9776;
			</button>
		</div>
		<div id="mainNavbar" class="navbar-toggleable-xs collapse">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				version="1.1"
				width="2.375rem"
				height="2.375rem"
				style="float:left; margin-right: 1rem;">
				<use xlink:href="#FacebookLogo"/>
			</svg>
			<a class="navbar-brand hidden-xs-down" href="/">DraBoManiacs</a>
			<ul class="nav navbar-nav pull-sm-right">
				<li class="nav-item">
					<a class="nav-link" href="#header">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">Über uns</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#map">Anfahrt</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact">Kontakt</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

<header id="header" class="container-fluid p-x-0">
	<div class="container">
		<h3 class="display-5"><span><strong>Are you ready?</strong></span></h1>
		<h3 class="display-4"><span><strong>Attention!</strong></span></h1>
		<h3 class="display-3"><span><strong>Go!</strong></span></h1>
	</div>
</header>

<section id="about" class="container-fluid p-x-0 bg-faded">
	<div class="container p-y-3">
		<div class="jumbotron">
			<h1 class="display-3">Die DraBo&shy;Maniacs</h1>
			<p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			<hr class="m-y-2">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
</section>

<section id="video" class="container-fluid p-x-0">
	<div class="container p-y-3">
		<div class="center-block" style="width: 100%; max-width: calc((100vh - 4rem) * 1.7)">
		<h2 class="display-4 text-xs-center p-b-2">Wie alles begann...</h2>
		<div class="embed-responsive embed-responsive-16by9">
			<div class="fb-video" data-href="https://www.facebook.com/drabomaniacs/videos/918937251508684/" data-allowfullscreen="true"></div>
		</div>
	</div>
	</div>
</section>

<section id="socialmedia" class="container-fluid p-x-0 bg-faded">
	<div class="container p-t-3 p-b-2">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div class="text-xs-center p-b-2">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						width="100px"
						height="100px">
						<use xlink:href="#FacebookLogo"/>
					</svg>
				</div>
				<div class="text-xs-center">
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="card">
					<div class="fb-page" data-href="https://www.facebook.com/drabomaniacs" data-tabs="" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-width="500px"></div>
					<div class="card-block text-xs-center">
						<a href="https://www.facebook.com/drabomaniacs" target="_blank" class="btn btn-primary">Besuche uns bei Facebook</a>
					</div>
				</div>
			</div>
		</div>

		<hr class="m-y-3">

		<div class="row">
			<div class="col-md-5 col-md-push-6">
				<div class="text-xs-center p-b-2">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						width="100px"
						height="82px">
						<use xlink:href="#TwitterLogo"/>
					</svg>
				</div>
				<div class="text-xs-center">
					<p>Bei Twitter findest du immer alles mögliche aktuelle rund um unser Team und rund um den Drachenbootsport.</p>
				</div>
			</div>
			<div class="col-md-5 col-md-pull-4">
				<div class="card">
					<a class="twitter-timeline" href="https://twitter.com/DraBoManiacs" data-widget-id="698966970767708161" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="1" data-lang="de" data-link-color="#00a0be">Tweets von @DraBoManiacs</a>
					<div class="card-block text-xs-center">
						<a href="https://twitter.com/DraBoManiacs" target="_blank" class="btn btn-primary">Folge uns auf Twitter</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="map" class="container-fluid p-x-0">
	<div id="googlemap"></div>
</section>

<footer id="contact" class="container-fluid p-x-0 bg-inverse">
	<div class="container p-y-3">
		<p>Footer...</p>
	</div>
</footer>
