<nav class="navbar navbar-fixed-top navbar-dark bg-inverse p-x-0">
	<div class="container">
		<div class="clearfix hidden-sm-up">
			<a class="navbar-brand" href="/">DraBoManiacs</a>
			<button class="navbar-toggler pull-xs-right" type="button" data-toggle="collapse" data-target="#mainNavbar">
				&#9776;
			</button>
		</div>
		<div id="mainNavbar" class="navbar-toggleable-xs collapse">
			<a class="navbar-brand hidden-xs-down" href="/">DraBoManiacs</a>
			<ul class="nav navbar-nav pull-sm-right">
				<li class="nav-item">
					<a class="nav-link" href="#header">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">Über uns</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#twitter">Twitter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#facebook">Facebook</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<header id="header" class="container-fluid p-x-0" style="height: 100vh; padding-top: 6rem; background-image: url('img/header.jpg'); background-size: cover; background-position: 55% 50%; background-repeat: no-repeat;">
	<div class="container">
		<h1 class="display-5"><span style="
			margin-bottom: calc(100vh / 20);
			display: inline-block;
			background-color: rgba(255,255,255,0.6);
			padding: 0.5rem;
			font-weight: 500;
			">Are you ready?</span></h1>
		<h1 class="display-4"><span style="
			margin-bottom: calc(100vh / 20);
			display: inline-block;
			background-color: rgba(255,255,255,0.6);
			padding: 0.5rem;
			font-weight: 500;
			">Attention!</span></h1>
		<h1 class="display-3"><span style="
			margin-bottom: calc(100vh / 20);
			display: inline-block;
			background-color: rgba(255,255,255,0.6);
			padding: 0.5rem;
			font-weight: 500;
			">Go!</span></h1>
	</div>
</header>

<section id="about" class="container-fluid p-x-0">
	<div class="container p-y-3">
		<h1 >Hello DraBoManiacs!</h1>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	</div>
</section>

<section id="twitter" class="container-fluid p-x-0 bg-faded">
	<div class="container p-y-3">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-block">
						<h5 class="card-title">@DraBoManiacs bei Twitter</h5>
						<a class="twitter-timeline" href="https://twitter.com/DraBoManiacs" data-widget-id="698966970767708161" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="3">Tweets von @DraBoManiacs</a>
						<a href="https://twitter.com/DraMoManiacs" target="_blank" class="btn btn-primary">Folge uns auf Twitter</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>bla bla bla</p>
			</div>
		</div>
	</div>
</section>

<section id="facebook" class="container-fluid p-x-0">
	<div class="container p-y-3">
		<div class="row">
			<div class="col-md-5 col-md-push-7">
				<div class="card">
					<div class="card-block">
						<h5 class="card-title">
							DraBoManiacs bei Facebook
						</h5>
					</div>
					<div class="fb-page" data-href="https://www.facebook.com/drabomaniacs" data-tabs="" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-width="500"></div>

					<div class="card-block">
						<p class="card-text">
							Auf unserer Facebook Seite findest du immer aktuelle Infos etc.
						</p>
						<a href="https://www.facebook.com/drabomaniacs" target="_blank" class="btn btn-primary">Besuche uns auf Facebook</a>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-md-pull-5">
				<p>asldfjkaölsdfj löaksdjflasdfk </p>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid p-x-0">
	<div id="map"></div>
</section>

<footer id="contact" class="container-fluid p-x-0 bg-inverse">
	<div class="container p-y-3">
		<p>Footer...</p>
	</div>
</footer>
